@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-arrow {
    background: pink; /* Set initial background */
  }
  
  .slick-arrow:hover {
    background: pink; /* Apply black background on hover */
  }
  
  .bg-Bg {
    background-image: url(./assets/banner1.jpg);
  }

  /* .swiper-button-prev,
.swiper-button-next {
  width: 60px;
  height: 65px;
  
  border-radius: 100%;
  background-color: white;
}

.swiper-button-prev:before,
.swiper-button-next:before {
  font-size: 24px;
  color: black;
}

.swiper-button-prev {
  left: 20px;
}

.swiper-button-next {
  right: 20px;
}


.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  width:13px;
  color: black;
}


.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  width:30px;
  color: black;
} */

/* Styles for swiper buttons on all screens */
.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 43px;
  border-radius: 100%;
  background-color: white;

}

.swiper-button-prev:before,
.swiper-button-next:before {
  font-size: 24px;
  color: black;
}

.swiper-button-prev {
  left: 13px;
}

.swiper-button-next {
  right: 13px;
}



/* Hide swiper buttons on small screens */

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
/* Display swiper buttons on medium screens and larger */

.CollBtn:hover .swiper-button-prev,
.CollBtn:hover .swiper-button-next{
  display: flex;
}

.BannerBtn:hover .swiper-button-prev,
.BannerBtn:hover .swiper-button-next {
  display: flex;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  width: 8px;
  color: black;
  font-size: x-large;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  width: 15px;
  color: black;
  font-size: x-large;
}

.TabsDiv::-webkit-scrollbar ,
.TreadingItems::-webkit-scrollbar {
  width: 0.5em;
}

.TabsDiv::-webkit-scrollbar-track,
.TreadingItems::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

.TabsDiv::-webkit-scrollbar-thumb,
.TreadingItems::-webkit-scrollbar-thumb {
  background-color: #ffffff00;
}

.ImgTrans{
  transition: 0.8s all;
}

.ImgTrans:hover{
  transform:scale(1.1);
}